/* add your CSS here */
* {
    box-sizing: border-box;
   }
   h3{
    padding-left: 5px;
   }
#container{
    width: 350px;
    border: 2px solid black;
    }
img{
    width: 300px;
    padding-left: 5px;
}
.info{
    width: 297px;
    border: 1px solid black;
    padding-left : 5px;
    margin: 5px 5px;
}
.activity{
    font-style: italic;
}
span{
    font-weight: bold;
}
ul{
    list-style-type: none;
    padding : 0px;
    margin: 0px;
}
